<div class="enrollment-modal">
	<div class="modal-header">
	    <p>Offer to</p>
	    <span class="close-modal" ng-click="actionClose()"><i class="fa fa-close"></i></span>
	</div>
	<div class="modal-body" ng-nicescroll nice-option="{cursorcolor: 'rgb(128, 152, 210)',autohidemode:false}" nice-scroll-top-end="topEndComplete()" nice-scroll-end="endScroll()">
	    <ul class="list-module pdl-0 pdt-10" style="list-style:none;">
	    	<li>
	    		<label class="iCheck">
	                <input type="checkbox">
	                <span class="checkbox-iCheck mgr-10"></span>
	                <span>MCGYY001</span>
	            </label>
	    	</li>
	    	<li>
	    		<label class="iCheck">
	                <input type="checkbox">
	                <span class="checkbox-iCheck mgr-10"></span>
	                <span>MCGYY001</span>
	            </label>
	    	</li>
	    	<li class="selected">
	    		<label class="iCheck">
	                <input type="checkbox" checked>
	                <span class="checkbox-iCheck mgr-10"></span>
	                <span>MCGYY001</span>
	            </label>
	    	</li>
	    	<li>
	    		<label class="iCheck">
	                <input type="checkbox">
	                <span class="checkbox-iCheck mgr-10"></span>
	                <span>MCGYY001</span>
	            </label>
	    	</li>
	    	<li class="selected">
	    		<label class="iCheck">
	                <input type="checkbox" checked>
	                <span class="checkbox-iCheck mgr-10"></span>
	                <span>MCGYY001</span>
	            </label>
	    	</li>
	    	<li>
	    		<label class="iCheck">
	                <input type="checkbox">
	                <span class="checkbox-iCheck mgr-10"></span>
	                <span>MCGYY001</span>
	            </label>
	    	</li>
	    	<li>
	    		<label class="iCheck">
	                <input type="checkbox">
	                <span class="checkbox-iCheck mgr-10"></span>
	                <span>MCGYY001</span>
	            </label>
	    	</li>
	    	<li class="selected">
	    		<label class="iCheck">
	                <input type="checkbox" checked>
	                <span class="checkbox-iCheck mgr-10"></span>
	                <span>MCGYY001</span>
	            </label>
	    	</li>
	    	<li>
	    		<label class="iCheck">
	                <input type="checkbox">
	                <span class="checkbox-iCheck mgr-10"></span>
	                <span>MCGYY001</span>
	            </label>
	    	</li>
	    	<li>
	    		<label class="iCheck">
	                <input type="checkbox">
	                <span class="checkbox-iCheck mgr-10"></span>
	                <span>MCGYY001</span>
	            </label>
	    	</li>
	    </ul>
	</div>
	<div class="modal-footer">
	    <button class="app-button button-orange" type="button">Offter</button>
	</div>
</div>