.wrap{
    background-color:black;
    color:white;
    margin-bottom:30px;
}
.detail{
    padding:20px 0px;
    font-size:21px;
    text-shadow:  0 0 3px gray;
}
.wrap-calendar{
    margin:20px 0px;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width:100%!important;
    height:100%!important;
}
