<section>
    <div class="row">
        <img src="img/slideshow.png" class="img-responsive" />
    </div>
    <div class="row">
        <h1 class="title" id="page-title"><span><a href="model">CHI TIẾT NGƯỜI MẪU</a></span></h1>
    </div>
    <!--Gallery nguoi mau-->
    <div class="row">
        <div class="col-md-12">
            <div class='row'>
                <uib-carousel active="active">
                    <uib-slide ng-repeat="image in detailModel.images" index="$index">
                        <img ng-src="{{image}}" style="margin:auto;">
                        <div class="carousel-caption">
                        </div>
                    </uib-slide>
                </uib-carousel>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" style='padding:0px'>
            <div class="wrap">
                <div class='detail clearfix'>
                    <div class="col-md-12">Chiều cao:</div>
                    <div class="col-md-12">{{detailModel.height}}</div>
                </div>
                <div class='detail clearfix'>
                    <div class="col-md-12">Vòng ngực:</div>
                    <div class="col-md-12">{{detailModel.roundBrest}}</div>
                </div>
                <div class='detail clearfix'>
                    <div class="col-md-12">Vòng eo:</div>
                    <div class="col-md-12">{{detailModel.waistSize}}</div>
                </div>
                <div class='detail clearfix'>
                    <div class="col-md-12">Vòng mông:</div>
                    <div class="col-md-12">{{detailModel.roundHip}}</div>
                </div>
                <div class='detail clearfix'>
                    <div class="col-md-12">Cỡ áo:</div>
                    <div class="col-md-12">{{detailModel.dressSize}}</div>
                </div>
                <div class='detail clearfix'>
                    <div class="col-md-12">Cỡ quần:</div>
                    <div class="col-md-12">{{detailModel.shoreSize}}</div>
                </div>
                <div class='detail clearfix'>
                    <div class="col-md-12">Màu tóc:</div>
                    <div class="col-md-12">{{detailModel.hairColor}}</div>
                </div>
                <div class='detail clearfix'>
                    <div class="col-md-12">Màu mắt:</div>
                    <div class="col-md-12">{{detailModel.eyeColor}}</div>
                </div>
            </div>
        </div>
        <div class='col-md-8'>
            <form novalidate name='booking'>
                <div class="col-md-12">
                    <div class='wrap-calendar'>
                        <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div> 
                        <flash-message></flash-message>
                    </div>
                </div>
                <div>
                    <div class="col-md-12" style='margin-bottom:30px'>
                        <button class='btn btn-default btn-lg' type='submit' ng-click="booking()" style='margin-top:5px;margin-bottom:10px'>Booking</button>
                        <p>Title</p>
                        <input required name='title' type="text" class="form-control" ng-model="node.title"/>
                    </div>
                    <div class="col-md-6" style='margin-bottom:30px'>
                        <p>Start Date</p>
                        <input readonly required name='startDate' type="text" class="form-control" ng-model="node.startDate" is-open="popup1.opened" ng-required="true" />
                        <p>Hours</p>
                        <select required name='startHours' class="form-control" ng-model="node.startHours">
                            <option>09</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option>16</option>
                            <option>17</option>
                            <option>18</option>
                            <option>19</option>
                            <option>20</option>
                            <option>21</option>
                            <option>22</option>
                        </select>
                        <p>Mins</p>
                        <select required name='startMins' class="form-control" ng-model="node.startMins">
                            <option value="00">00</option>
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                        </select>
                    </div>
                    <div class="col-md-6" style='margin-bottom:30px'>
                        <p>End Date</p>
                        <input readonly type="text" class="form-control" ng-model="node.endDate" ng-required="true" />
                        <p>Hours</p>
                        <select required name='endHours' class="form-control" ng-model="node.endHours">
                            <option>09</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option>16</option>
                            <option>17</option>
                            <option>18</option>
                            <option>19</option>
                            <option>20</option>
                            <option>21</option>
                            <option>22</option>
                        </select>
                        <p>Mins</p>
                        <select required name='endMins' class="form-control" ng-model="node.endMins">
                            <option value="00">00</option>
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>