<section id="home-page" class="page">
	<div class="row">
		<uib-carousel active="active" interval="myInterval">
			<uib-slide ng-repeat="slide in homeCtr.slides track by $index" index="$index">
				<img ng-src="{{slide.image}}" class="img-responsive">
			</uib-slide>
		</uib-carousel>
	</div>
	<div class="row">
		<h1 class="title" id="page-title"><span><a href="model">Người mẫu</a></span></h1>
	</div>
	<!--Gallery nguoi mau-->
	<div class="row home-galleries">
		<model-box ng-repeat="item in homeCtr.models"
			class="col-md-3 item"></model-box>
	</div>
</section>