<div class="row setup-content" id="step-1">
    <div class="col-xs-12">
        <div class="col-md-12 well text-center">
            <form xt-form strategy="dirtyOrFocusedOrSubmitted" focus-error="true" tooltip-trigger="hover manual"
                  name="applicationForm" ng-submit="actionStepOne(applicationForm)" role="form" novalidate autocomplete="off" autocorrect="off">
                <h2 class="title-panel">Thông tin cá nhân</h2>
                <div class="form-row">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="row">
                                <div class="col-md-4 text-left">
                                    <label>Họ:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="first_name" ng-model="node.first_name" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="row">
                                <div class="col-md-4 text-left">
                                    <label>Tên:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="last_name" ng-model="node.last_name" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="row">
                                <div class="col-md-4 text-left">
                                    <label>Email *: </label>
                                </div>
                                <div class="col-md-8">
                                    <input type="email" name="email" ng-model="node.email" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="row">
                                <div class="col-md-4 text-left">
                                    <label>Mật khẩu *: </label>
                                </div>
                                <div class="col-md-8">
                                    <input type="password" name="password" ng-model="node.password" placeholder="" autocomplete="false">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="row">
                                <div class="col-md-4 text-left">
                                    <label>Giới tính *:</label>
                                </div>
                                <div class="col-md-8">
                                    <select name="gender" ng-model="node.gender"
                                            ng-options="g.id as g.name for g in genders"
                                            class="botronBottomLeft botronBottomRight"
                                            xt-validation-tooltip required>
                                        <option value="">Giới tính</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="row">
                                <div class="col-md-4 text-left">
                                    <label>Số điện thoại:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="phone" ng-model="node.phone" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="row">
                                <div class="col-md-4 text-left">
                                    <label>Ngày sinh:</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="datePicker">
                                        <a class="dropdown-toggle" id="birthday" role="button" data-toggle="dropdown" data-target="#">
                                            <input class="botronBottomLeft botronBottomRight border"
                                                   readonly data-date-time-input="YYYY-MM-DD"
                                                   placeholder="" type="text" name="birthday" ng-model="node.birthday"
                                                   xt-validation-tooltip required/>
                                            <button type="button" class="app-button"><i class="app-icon icon-schedule"></i></button>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <datetimepicker ng-model="node.birthday"
                                                            data-datetimepicker-config="{dropdownSelector: '#birthday', startView:'day',minView:'day'}"/>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="row">
                                <div class="col-md-4 text-left">
                                    <label>Tỉnh/Thành phố *:</label>
                                </div>
                                <div class="col-md-8">
                                    <select name="location_id" ng-model="node.location_id"
                                            ng-options="n.id as n.name for n in locations"
                                            class="botronBottomLeft botronBottomRight"
                                            xt-validation-tooltip required>
                                        <option value="">Chọn địa bàn hoạt động</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="action-form flex">
                    <div class="space"></div>
                    <button type="submit" class="next flex-end">
                        Đăng ký <i class="app-icon icon-right-arrow"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>