<div class="row setup-content" id="step-1">
    <div class="col-xs-12">
        <div class="col-md-12 well text-center">
            <form xt-form strategy="dirtyOrFocusedOrSubmitted" focus-error="true" tooltip-trigger="hover manual"
                  name="applicationForm" ng-submit="actionStepOne(applicationForm)" role="form" novalidate>
                <h2 class="title-panel">Thông tin người mẫu</h2>
                <div class="form-row">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="row">
                                <div class="col-md-4 text-left">
                                    <label>Họ:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="first_name" ng-model="node.first_name" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="row">
                                <div class="col-md-4 text-left">
                                    <label>Tên:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="last_name" ng-model="node.last_name" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="row">
                                <div class="col-md-4 text-left">
                                    <label>Giới tính *:</label>
                                </div>
                                <div class="col-md-8">
                                    <select name="gender" ng-model="node.gender"
                                            ng-options="g.id as g.name for g in genders"
                                            class="botronBottomLeft botronBottomRight"
                                            xt-validation-tooltip required>
                                        <option value="">Giới tính</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="row">
                                <div class="col-md-4 text-left">
                                    <label>Số điện thoại:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="phone" ng-model="node.phone" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="row">
                                <div class="col-md-4 text-left">
                                    <label>Ngày sinh:</label>
                                </div>
                                <div class="col-md-8">
                                    <p class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                               ng-model="dt" is-open="birthday.opened" datepicker-options="dateOptions"
                                               ng-required="true" close-text="Close"
                                               alt-input-formats="altInputFormats"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openCalendar()"><i
                    class="fa fa-calendar"></i></button>
          </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>